<nav>
  <h1>QAP THREE</h1>
  <a href="/">[home]</a>
  <a href="/movies">[See all Movies]</a>
  <a href="/newmovie">[Add a New Movie]</a>
  <a href="/movies">[Edit a Movie Entry (PUT)]</a>
  <a href="/movies">[Edit a Movie Entry (PATCH)]</a>
  <a href="/movies">[Delete a Movie Entry]</a>
</nav>
