<!-- Written By: Kara Balsom
Date Written: Nov 25, 2022 -->

<!-- Navigation HTML display: -->

<nav class="container text-center">
  <h1>Budget Flix</h1>
  <!-- Links to the various .ejs routes: -->
  <a href="/">[Home]</a>
  <a href="/customer">[Customers]</a>
  <a href="/films">[Staff]</a>
  <a href="/api/films">[API]</a>
</nav>
