<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <img
      src="https://images.unsplash.com/photo-1614239685537-e9d86bacf82d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
      alt="DVDs"
      height="500"
      ,
      width="1500"
    />
    <h1>Welcome to Budget Flix!</h1>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
