<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="movies content">
            <form action="/movies" method="GET">
                <b>Movies: </b></br> 
            <% if (theMovies.length > 0) { %>
                <% theMovies.forEach(movies => { %>
                    <b><%= movies.title %></b>
            <% } %>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>