<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header><%- include('./partials/nav.ejs') %></header>
    <main>
      <div class="form-container">
        <h2>Task 1 - Display the movies you've rented in the last 12 months</h2>
        <form method="post">
          <div class="form-group col-md-4">
            <label for="add-movie">Customer Email</label>
            <input
              type="text"
              class="form-control"
              id="movietitle"
              placeholder="Enter title"
              name="title"
            />
          </div>
      <button type="submit" class="btn btn-primary">View Movies</button>
      <% if (locals.message){ %>
      <p class="error"><%=locals.message %></p>
      <% } %>
    </form>

    <% if (locals.addMovie){ %>
    <div>
      <hr />
      <div style="text-align: center">
        <h3>It added a record!</h3>
      </div>
      <br />
    </div>
    <% } %> <%- include('./partials/foot.ejs') %>
  </body>
</html>
