<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add a Movie</title>
  </head>
  <body>
    <h1>Please fill data in the form below:</h1>
    <form class="container" method="get" action="/add-movie">
      <label class="form-group"
        >Title:<input type="text" name="title" required
      /></label>
      <br />
      <label class="form-group"
        >Plot:<input type="text" name="plot" required
      /></label>
      <br />
      <label class="form-group"
        >Genres:<input type="text" name="genres" required
      /></label>
      <br />
      <label class="form-group"
        >Runtime:<br /><textarea name="runtime"></textarea>
      </label>
      <br />
      <label class="form-group"
        >Cast:<input type="text" name="cast" required
      /></label>
      <br />
      <label class="form-group"
        >Directors:<input type="text" name="directors" required
      /></label>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
